*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
}

header{
    height: 100px;
    background-color: #456990;
    padding: 0px;
    border-bottom:8px solid #114B5F;

}
header h1{
    float: left;
    margin: 25px 50px;
}

header ul li {
 display: inline;
 text-decoration: none;
 margin: 40px;
 float: right;
 font-weight: bold;
 color: white;
}

section{
    background-color: #E4FDE1;
    text-align: center;
    display: block;
    padding: 40px;
}

section p{
    margin: 20px;
    position:static;
}


img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 4px solid #114B5F;
    border-radius: 10px;

}

form{
    background-color: #456990;
    width: 400px;
    height: 100px;
    border: 6px solid #028090;
    border-radius: 40px;
    text-align: center;
    position: relative;
    margin: auto;
    top: 60px;
    
}

form h3{
    background-color: transparent;
    display: inline;
    margin: 20px;
    color: white;
}
form input{
    display: inline;
    background-color: #E4FDE1;
    margin: 10px;

}
.inputField{
    display: inline;
}

.signUpArea{
    background-color: #456990;
    height: 200px;
    width: 100vw;
    
}

footer{
    background-color: #114B5F;
    height: 100px;
    text-align: center;
    
}
footer>h4{
    top: 40%;
    color: white;
    position: relative;
}
